/deploy/docker/redis/data/
/deploy/docker/jaeger/data/
/deploy/docker/filebeat/logs/
/deploy/docker/elasticsearch/data/
/deploy/docker/postgres-cluster/master/
/deploy/docker/postgres-cluster/slave/
/deploy/docker/consul/data/
